{% extends 'base.html' %}
{% load static %}

{% block title %}New post with inplace form{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        {{ form.media }}
        <input type="submit" value="Save"/>
    </form>
{% endblock %}