{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block title %}New post with inplace form{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    {{ form.media.css }}

    {% crispy form %}

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- CSS/JS for Summernote -->
    {{ form.media.js }}

    <!-- additional plugins -->
    <script src="{% static 'css/summernote-image-title.js' %}"></script>
{% endblock %}